@{
    ViewData["Title"] = "Home Page";
}
    
<html>
    <head>
        
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">Hr APPLICATION </h1>
        
        <h3>to go to<a asp-action="emplo">employes click here</a></h3>
        <h3>view <a asp-action="allempl">all emploe</a></h3>
  </div>
    </body>
</html>

